<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style-promo.css">
    <title>Bora Bora Viagens - Promoções</title>
</head>

<body>
    <header>
        <div class="container">
            <!-- Início da navbar -->
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="index.html"><img
                            src="../../img/logo-bora-bora-small.png"
                            alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../destinos/destinos.html">Destinos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="promocoes.html">Promoções</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../contato/contato.html">Contato</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../admin/admin.html">Admin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Fim da navbar -->
        </div>
        <hr>
    </header>
    <main>
        <div class="container">
            <h1 class="text-dark">APROVEITE OFERTAS DE PACOTES DE VIAGEM</h1>
            <div class="row">
                <!-- Início dos banners promo -->
                <div class="col-lg-12 col-sm-12 d-flex justify-content-center" id="banner-ofertas">
                    <img src="../../img/ofertas-600-158.png"
                        alt="">
                </div>
                <div class="col-xl-6 d-flex justify-content-center" id="mulher-oferta">
                    <img src="../../img/promo-com-mulher-400-400.png" alt="">
                </div>
                <!-- Fim dos banners promo -->
                <!-- Início dos cards promo -->
                <div class="col-xl-2 col-lg-4 col-sm-12 mt-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="../../img/buenos-aires.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Buenos Aires</h5>
                            <p class="card-text">Pacotes a partir de <br><del class="text-danger">R$ 2.408</del><br><b class="text-success">por R$ 2.047</b></p>
                            <a href="#" class="btn btn-secondary">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-12 mt-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="../../img/porto-de-galinhas.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Porto de Galinhas</h5>
                            <p class="card-text">Pacotes a partir de <br><del class="text-danger">R$ 1.809</del><br><b class="text-success">por R$ 1.628</b></p>
                            <a href="#" class="btn btn-secondary">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-12 mt-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="../../img/maceio.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Maceió</h5>
                            <p class="card-text">Pacotes a partir de <br><del class="text-danger">R$ 1.581</del><br><b class="text-success">por R$ 1.265</b></p>
                            <a href="#" class="btn btn-secondary">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <!-- Fim dos cards promo -->
            </div>
        </div>
    </main>
    <footer>
        <hr>
        <div class="container">
            <!-- Início do rodapé -->
            <section class="row-footer mt-3">
                <div class="footer-logo">
                    <img id="img-rodape"
                        src="../../img/beach-image-small.png"
                        alt="">
                </div>
                <div class="footer-menu">
                    <ul type="none">
                        <li><a href="../../index.html">Home</a></li>
                        <li><a href="../destinos/destinos.html">Destinos</a></li>
                        <li><a href="promocoes.html">Promoções</a></li>
                        <li><a href="../contato/contato.html">Contato</a></li>
                        <li><a href="../admin/admin.html">Admin</a></li>
                    </ul>
                </div>
            </section>
            <div class="row-endfooter">
                <p>Bora Bora Viagens - <img src="img/icons8-copyright-all-rights-reserved-20.png" alt="">2022</p>
            </div>
            <!-- Fim do rodapé -->
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>